<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/page_style.css')}}" />
        <title>{{ title }}</title>
    </head>
    <body>
        <h1>{{ object }}</h1>
        <img src="{{ img }}" width="500" height="500"
           alt="здесь должна была быть картинка, но не нашлась">
        <p align="justify" class="info">{{ info }}</p>
        <p class="rad">Радиус: {{ radius }}</p>
        <p class="vol">Объём: {{ volume }}</p>
        <p class="dist">Расстояние от Солнца: {{ distance }}</p>
        <p class="temp">Средняя температура: {{ temperature }}</p>
    </body>
</html>